.message{
  background: #f6f6f6;
  padding: 20px 20px 20px;
  border-radius: 10px;
  margin: 20px 5px 25px;
  position: relative;

  @media(max-width: 800px){
    padding: 18px 12px 18px
  }
  .content{
    max-width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;

    img{
      width: calc(100% + 40px);
      margin-left: -20px;
      margin-bottom: 10px;
      border-radius: 15px;

      &.emoji{
        width: 1em;
        height: 1em;
        margin: 0px 0.05em 0px 0.1em;
        vertical-align: -0.1em;
      }
    }

    p{
      font-family: $din;
      font-size: 18px;
      line-height: 25px;
      margin: 10px 5px;
      overflow-wrap: break-word;
      @media (max-width: 400px) {
        font-size: 16px;
        line-height: 21px;
      }
      .emoji:only-child{
        width: 1.5em;
        height: 1.5em;
      }
    }
    span.slack-announcement,span.mention{
      font-weight: bold;
      color: $politico-red;
    }
    code{
      font-family: monospace, monospace;
      font-size: 1em;
      font-size: 0.98rem;
      color: #9e0001;
      background-color: #fff4f4;
    }
    blockquote{
      position: relative;
      padding-left: 35px;
      border: 0;
      &:before {
        font-family: "Times New Roman", serif;
        color: #bbb;
        content: "“";
        font-size: 60px;
        font-weight: bold;
        line-height: 0.1em;
        position: absolute;
        top: 23px;
        left: 2px;
      }
    }
  }
}
