
.video-rail{
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ddd;
  .video-content{
    max-width: 550px;
    margin: 0 auto;
    padding-left: 15%;
    @media screen and (max-width: 450px) {
      padding-left: 5%;
    }

    .video-box{
      width: calc(100% - 60px);
      @media screen and (max-width: 450px) {
        width: calc(100% - 80px);
      }
      max-width: 300px;
      float: left;
      .left{
        float:left;
        width: 50px;
        margin-right: 20px;
        padding-top: 30px;
        h6{
          font-size: 20px;
          line-height: 20px;
        }
      }
      .right{
        width: calc(100% - 70px);
        float: left;
        text-align: center;
      }
    }
    .button-box{
      width:60px;
      float:left;
      border-left: 1px solid #999;
      padding-left: 20px;
      padding-top: 10px;
      height: 85px;
      margin-top: 10px;
      @media screen and (max-width: 450px) {
        width: 80px;
      }
      h6{
        font-weight: bold;
        margin-bottom: 5px;
      }
      button{
        background-color: $politico-red;
        color: #fff;
        border: 0;
        padding: 11px 13px 9px;
        border-radius: 20px;
        font-size: 14px;
        line-height: 18px;
        &:active, &:focus{
          outline: none;
        }
      }
    }
  }
}
