
.video-rail{
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ddd;
  .video-content{
    max-width: 550px;
    margin: 0 auto;

    .video-box{
      width: calc(100% - 70px);
      @media screen and (max-width: 450px) {
        width: calc(100% - 80px);
      }
      max-width: 300px;
      float: left;
      .left{
        float:left;
        width: 50px;
        margin-right: 20px;
        margin-left: 10px;
        padding-top: 30px;
        @media screen and (max-width: 350px) {
          display: none;
        }
        h6{
          font-size: 20px;
          line-height: 26px;
          display: none;
          @media screen and (min-width: 350px) {
            display: inline;
          }
        }
      }
      .right{
        width: calc(100% - 90px);
        padding-top: 10px;
        padding-bottom: 5px;
        float: left;
        text-align: center;
        @media screen and (max-width: 450px) {
          text-align: left;
          margin-left: 10px;
        }
      }
    }
    .button-box{
      width:70px;
      float: right;
      border-left: 1px solid #bbb;
      padding-left: 20px;
      padding-top: 10px;
      height: 95px;
      margin-top: 10px;

      h6{
        font-weight: bold;
        margin-bottom: 5px;
      }
      button{
        background-color: $politico-red;
        color: #fff;
        border: 0;
        padding: 11px 13px 9px;
        border-radius: 20px;
        font-size: 14px;
        line-height: 18px;
        &:active, &:focus{
          outline: none;
        }
      }
    }
  }
}
