<script type="text/javascript">
var utag_data = {
  "page_level_1":"interactives",
  "free_paid_content":"free",
  "ad_unit_section":"2018-election",
  "site_section":"elections",
  "page_type":"election live chat",
  "site_domain":"www.politico.com",
  "internal_site_id":"politico",
  "page_name":"{{ channel.meta.title }}",
  "content_author":"POLITICO Staff",
  "content_byline":"By POLITICO Staff",
};
</script>
<script type="text/javascript">
  (function(a,b,c,d){
  a='//tags.tiqcdn.com/utag/politico/main/prod/utag.js';
  b=document;c='script';d=b.createElement(c);d.src=a;
  d.type='text/java'+c;
  d.async=true;
  a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a)
  })();
  window.$('.icon-facebook').click(function(e){
    e.preventDefault();
    const uri = encodeURIComponent(window.location.href);
    window.open('https://www.facebook.com/sharer/sharer.php?u=' + uri);
  });
  window.$('.icon-twitter').click(function(e){
  e.preventDefault();
  const uri = window.location.href;
  const status = encodeURIComponent('{{channel.title}} ' + uri);
  window.open('https://twitter.com/home?status=' + status);
  });
</script>
