<section class="elex-footer">
  <h4>2018 Elections</h4>
  <ul>

      <li>
        <a href="https://www.politico.com/election-results/2018/alabama/">Alabama</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/alaska/">Alaska</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/arizona/">Arizona</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/arkansas/">Arkansas</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/california/">California</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/colorado/">Colorado</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/connecticut/">Connecticut</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/delaware/">Delaware</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/florida/">Florida</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/georgia/">Georgia</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/hawaii/">Hawaii</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/idaho/">Idaho</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/illinois/">Illinois</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/indiana/">Indiana</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/iowa/">Iowa</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/kansas/">Kansas</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/kentucky/">Kentucky</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/louisiana/">Louisiana</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/maine/">Maine</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/maryland/">Maryland</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/massachusetts/">Massachusetts</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/michigan/">Michigan</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/minnesota/">Minnesota</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/mississippi/">Mississippi</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/missouri/">Missouri</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/montana/">Montana</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/nebraska/">Nebraska</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/nevada/">Nevada</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/new-hampshire/">New Hampshire</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/new-jersey/">New Jersey</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/new-mexico/">New Mexico</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/new-york/">New York</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/north-carolina/">North Carolina</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/north-dakota/">North Dakota</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/ohio/">Ohio</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/oklahoma/">Oklahoma</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/oregon/">Oregon</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/pennsylvania/">Pennsylvania</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/rhode-island/">Rhode Island</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/south-carolina/">South Carolina</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/south-dakota/">South Dakota</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/tennessee/">Tennessee</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/texas/">Texas</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/utah/">Utah</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/vermont/">Vermont</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/virginia/">Virginia</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/washington/">Washington</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/west-virginia/">West Virginia</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/wisconsin/">Wisconsin</a>
      </li>

      <li>
        <a href="https://www.politico.com/election-results/2018/wyoming/">Wyoming</a>
      </li>

  </ul>
  <div class="clear"></div>
</section>
