{%load tz%}
<header class="center">
    <div class="share">
       <a href="" class="icon icon-facebook" target="_blank"></a>
       <a href="" class="icon icon-twitter" target="_blank"></a>
       <a class="icon icon-mail" target="_blank"></a>

    <p class="chat-brand">
      Live Analysis
    </p>
    <h1>{{channel.title}}</h1>
    <p class="time">
        {%if channel.live%}<span class="live">LIVE</span> |{%endif%} <span class="timestamp"> <time datetime='{{now|timezone:"America/New_York"|date:"c"}}'>{{ now|timezone:"America/New_York"|date:"N j, Y P" }} EDT</time></span>
    </p>
    </div>
</header>
