*{font-family: monospace;}
body{margin:0; padding:0;}
header{
  width: 100%;
  font-size: 14px;
  color: #9e0000;
  border-bottom: 1px solid lightgrey;
  padding: 10px 20px;
}
content{
  padding: 20px;
  display: block;
}
